<div class="w-full rounded shadow-md shadow-slate-300 p-4">
  <% if @user %>
  <% else %>
    <div class="absolute flex justify-center items-center w-full h-full bg-[rgba(0,0,0,0.8)] top-0 left-0 rounded">
      <h5 class="font-semibold text-white text-lg">Users need to <span class="text-red-500">Have an account</span> to comment</h5>
    </div>
  <% end %>
  <%= form_with model: @new_comment, url: post_comments_path(post.id), class:"rounded" do |f| %>
    <div class="space-y-4">
      <div class="flex flex-col gap-2">
        <%= f.hidden_field :post_id %>
        <%= f.label :content, "content", class:"sr-only" %>
        <%= f.text_area :content, class: "w-full border-0 bg-gray-200 rounded p-4", placeholder:"What's your take on this blog post?" %>
      </div>
      <div>
        <%= f.submit "Add comment", class:"w-full text-left p-3 text-slate-900 font-semibold rounded bg-red-500 cursor-pointer hover:bg-black hover:text-red-500" %>
      </div>
    </div>
  <% end %>
</div>
