<nav data-controller="mobileNav" class="flex items-center justify-between flex-wrap bg-red-500 py-4 px-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to root_path do %>
      <span class="font-semibold text-white text-xl tracking-tight bg-red-800 px-4 py-2 rounded hover:bg-slate-900 duration-200">KB</span>
    <% end %>
    <h1 class="mx-4 font-bold tracking-wide lg:hidden">Killer Blog</h1>
  </div>
  <div id="burgerBtn" data-action="click->mobileNav#toggleNavbar" class="block lg:hidden">
    <button
            class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div id="mobileNavLinks" class="hidden w-full flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow my-4 lg:my-0">
      <%= link_to "Home", root_path, class:"block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4 text-base font-semibold px-2" %>
      <%= link_to "Blogs", root_path, class:"block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4 text-base font-semibold px-2" %>
      <%= link_to "About", about_path, class:"block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4 text-base font-semibold px-2" %>
    </div>
    <% if Current.user %>
      <p class="font-semibold">
        <%= link_to dashboard_path, class:"text-white font-bold bg-red-800 p-2 rounded" do %>
          <span class="text-white font-bold"><%= Current.user.username %></span>
        <% end %>
      </p>
    <% else %>
      <div>
        <%= link_to "Log in", login_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red-500 hover:bg-white mt-4 lg:mt-0" %>
        <%= link_to "Register", register_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red-500 hover:bg-white mt-4 lg:mt-0" %>
      </div>
    <% end %>
  </div>
</nav>
