<div class="w-full">
  <div class="space-y-4 bg-red-500 rounded shadow-sm shadow-red-500 px-8 py-16 pl-6">
    <div class="">
      <p class="text-white mb-2">
        published in: <%= @post.created_at.strftime("%Y-%m-%d") %>
      </p>
      <p class="text-white text-xl mb-2">
        Written by: <%= link_to @post.user.username, show_user_path(@post.user), class:"font-semibold text-slate-900 hover:underline" %></small>
      </p>
    </div>
    <h1 class="font-bold border-l-8 text-slate-900 pl-4 border-slate-900 text-4xl md:text-7xl">
      <%= @post.title %>
    </h1>
  </div>
  <div class="w-full bg-gray-200 rounded px-4 py-16 mt-16">
    <p class="leading-9 font-bold text-4xl md:text-7xl">
      <%= @post.body %>
    </p>
  </div>
  <%# comments-related stuff: %>
  <div id="comments-section" class="w-full rounded py-4 mt-16">
    <div class="lg:flex gap-8">
      <%# add comments form: %>
      <div class="lg:w-1/2">
        <%= render partial: "shared/commentsForm", locals: { post: @post } %>
      </div>
      <%# render posted comments (if there's any at all) %>
      <div class="mt-8 lg:mt-0 lg:flex-1 rounded shadow-md shadow-slate-300 p-4">
        <h3 class="text-xl mb-3 font-semibold">Comments:</h3>
        <%= render @post.comments.order(id: :desc) %>
      </div>
    </div>
  </div>
</div>
